
<div class="container">
    <div class="card" >
      <div class="text-center">
        <h1>Login</h1>
        <h6>Please login here</h6>
    </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          
            <div class="form-group">
              <label >Email</label>
              <input formControlName="Email"  type="Email" class="form-control" placeholder="Please Enter email" [ngClass]="{'is-invalid' : submitted && f.Email.errors}">
              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                <div *ngIf="f.Email.errors.required" style="color: #fff;">Email is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="Password" >Password</label>
              <input formControlName="Password" type="Password" class="form-control"  placeholder=" Please Enter Password" [ngClass]="{'is-invalid' : submitted && f.Password.errors}">
              <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                <div *ngIf="f.Password.errors.required" style="color: #fff;">Password is required</div>
              </div>
            </div>
            <a routerLink="/signup">Are you new user signup</a>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
    </div>
</div>